/* Slide Titles (Level 2) */
.reveal h2 {
  color: #14548C;
  font-size: 1.8em;
  border-bottom: 2px solid #9BBFB2; /* Adds a nice underline */
  text-transform: uppercase;
}

/* Sub-headings (Level 3) */
.reveal h3 {
  color: #11468C;
  font-size: 1.2em;
  margin-top: 20px;
}